.uol{
  height: 50px;
  max-width: 1024px;
  background: black;
  margin: 0;
}
.uol img{
  width: 50px;
  height: 50px;
  margin-left: 250px;
}
.cabeca{
  display: inline-block;
}
.tables 1, 2, 3, 4{
  margin: 30px 30px 30px 30px;
  padding:
}
.color1{
  background: green;
  border-radius: 50%;
}
.color2{
  background: red;
  border-radius: 50%;
}
.color3{
  background: yellow;
  border-radius: 50%;
}
.color4{
  background: gray;
  border-radius: 50%;
}
.test{
  border-radius: 50%;
}
