html, body{
  margin: 0;
  padding: 0;
}

.header{
  background-color: #33ccff;
  border-bottom: 20px solid rgb(51, 212, 230);
}

.container{
  margin: 0 auto;
  overflow: hidden; 
  max-width: 1024px;
}

.container h1{
	margin-left: 20px;
}

.menu{
  margin-left: 170px;
  padding: 5px;
}

.logo, .menu{
  display: inline-block;
  font-family: 'Merriweather', serif;
 
}

.menu li{
  display: inline-block;
  margin: 10px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.headerbottom{
  margin: 10px auto 20px auto;
  background-color: rgb(51, 150, 255);
}

.sound{
	background-image: url(./imagens/editada2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 500px;
}
.sound h1{
	font-family: Impact, Charcoal, sans-serif;
	font-size: 35px;
	color: rgb(24, 100, 155);
	text-align: right;
	padding-right: 20px;
	padding-bottom: 100px;
	margin-top: 10px;
}

.img1{
  background-image: url("https://cdn.britannica.com/30/154530-050-3B360465/Antonio-Vivaldi-violin.jpg");
}

.img2{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Johann_Sebastian_Bach.jpg/250px-Johann_Sebastian_Bach.jpg");
}

.img3{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f9/Claude_Debussy_ca_1908%2C_foto_av_F%C3%A9lix_Nadar.jpg");
}

.composers .composer{
  background-size: 100%;
  display: inline-block;
  width: 33%;
  height: 300px;
  float: left;
  margin: 0;
  text-align: center; 
  color: white;
}