html, body{
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
}

*{
  box-sizing: border-box;
}

.header{
  background-color: #33ccff;
  border-bottom: 20px solid rgb(51, 212, 230);
}

.container{
  margin: 0 auto;
  overflow: hidden; 
  max-width: 1024px;
}

.container h1{
	margin-left: 20px;
}

.menu{
  margin-left: 170px;
  padding: 5px;
}

.logo, .menu{
  display: inline-block;
  font-family: 'Merriweather', serif;
 
}

.menu li{
  display: inline-block;
  margin: 10px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.headerbottom{
  margin: 10px auto 20px auto;
  background-color: rgb(51, 150, 255);
}

.sound{
	background-image: url(./imagens/editada2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 500px;
}
.sound h1{
	font-family: Impact, Charcoal, sans-serif;
	font-size: 35px;
	color: rgb(24, 100, 155);
	text-align: right;
	padding-right: 20px;
	padding-bottom: 100px;
	margin-top: 10px;
}

.composers .composer{
  background-size: 100%;
  display: inline-block;
  width: 33%;
  float: left;
  margin: 0;
  text-align: center; 
  color: white;
  padding: 10px;
}

.composer figure{
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin: 0;
}

.composer p{
  color: black;
}

.tabela{
 /* width: 500px;
  height: 500px;*/
  font-size: 30px;
  margin: 0 auto;
}

.tabela td, tr{
  padding: 5px 15px;
  border: 2px solid black;
  text-align: center;
  border-collapse: collapse;
  font-family: arial;
}

tr:nth-child(even) {
  background-color: #ddddddd;
}

.tabelas{
  padding-top: 20px;
  padding-bottom: 20px;
}