html, body{
  margin: 0;
  padding: 0;
}

.container{

  background-color: #33ccff;
  border-bottom: 20px solid rgb(51, 212, 230);
}
.container h1{
	margin-left: 20px;
}

.menu{
  margin-left: 170px;
  padding: 5px;
}

.logo, .menu{
  display: inline-block;
  font-family: 'Merriweather', serif;
 
}

.menu li{
  display: inline-block;
  margin: 10px;
}

.header{
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden; 

}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.headerbottom{
  margin: 10px auto 20px auto;
  background-color: rgb(51, 150, 255);
}

.sound{
	margin: 0 auto;
  overflow: hidden; 
	max-width: 1024px;
	background-image: url(./imagens/editada2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 500px;
}
.sound h1{
	font-family: Impact, Charcoal, sans-serif;
	font-size: 35px;
	color: rgb(24, 100, 155);
	text-align: right;
	padding-right: 20px;
	padding-bottom: 100px;
	margin-top: 10px;
}

